LOCIZE_API_KEY=

# Branding Configuration
VITE_APP_NAME="Tools"
VITE_APP_DESCRIPTION="An all-in-one online toolkit for everyday productivity tasks."
VITE_SHOW_DISCORD="false"
VITE_SHOW_GITHUB="false"
VITE_SHOW_HIRE_ME="false"
VITE_SHOW_VERSION_HASH="false"
VITE_DEFAULT_OUTPUT_PREFIX="output"
